*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 3rem;
}

body{
  min-height: 100vh;
  background-color: #1c1c1c;
  color: whitesmoke;
  display: grid;
  place-content: center;
  padding: 1rem;
}